<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="col-md-12">
                    <h2 class="pull-left">{{ contact?.name }}</h2>
                </div>
                <div class="col-md-6 pull-left">
                    <img [src]="contact?.imageUrl" alt="{{ contact?.name }}" class="img-responsive" style="max-height: 120px;" *ngIf="contact?.imageUrl">
                </div>
                <div class="col-md-6">
                    <div class="btn-toolbar pull-right">
                        <a [routerLink]="['edit']" class="btn btn-primary">Edit</a>
                        <a (click)="onDelete()" class="btn btn-danger">Delete</a>
                    </div>
                </div>        
            </div>
            <div class="panel-body">
                <div class="list-group-item-heading">Email: {{ contact?.email }}</div>
                <div class="list-group-item-heading">Phone: {{ contact?.phone }}</div>
                <div class="list-group-item-heading">Contacts in Team:</div>
                <div *ngFor="let contact of groupContacts; let i = index">
                    <div>
                      <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
                    </div>
                </div>
                <!-- <div class="list-group-item-heading groupDiv col-sm-11" *ngFor="let contact of contact?.group">{{contact.name}} {{contact.imageUrl}}</div> -->
            </div>
        </div>       
    </div>
</div>
